@import "_variables.scss";

html{
    font-size: 62.5%;
    padding: 0rem;
    margin-top: -3rem;
    box-sizing: 0rem;
}
.leftcolumn{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 51rem;
    left: 16.5rem;
}
.bw1{
    width: 22%;
    height: 21%;
    border: 1rem solid white;
}
.bw1:hover{
    transform: scale(.95);
    transition-duration: 0.3s;
}
.bw2{
    width: 22%;
    top: 51rem;
    border: 1rem solid white;
    position: absolute;
}
.bw2:hover{
    transform: scale(.95);
    transition-duration: 0.3s;
}
