@import "_variables.scss";

html{
    font-size: 62.5%;
    padding: 0rem;
    margin-top: -3rem;
    box-sizing: 0rem;
}
#sideNavBar a {
  position: fixed; /* Position them relative to the browser window */
  padding: 2rem;
  width: 12rem; 
  left: -3rem; 
  color: black; 
  font-size: 2rem; 
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none; 
  text-align: end;
  border-radius: 0 1rem 1rem 0;
  transition: 0.2s; 
}

#sideNavBar a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}
#home {
  top: 31rem;
  background-color: $lightPeach;
}

#instagram {
  top: 38rem;
  background-color: $darkPeach;
}

#twitter {
  top: 45rem;
  background-color: $lightPeach; 
}

#youtube {
  top: 52rem;
  background-color: $darkPeach;
}