@import "_variables.scss";

html{
    font-size: 62.5%;
    padding: 0rem;
    margin-top: 0rem;
    box-sizing: 0rem;
}
.butterflypic{
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
    width: 65%;
}
.hvr-grow {
    -webkit-transform: perspective(1rem) translateZ(0);
    transform: perspective(1rem) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
.title{
    position: relative;
    margin-top: -9rem;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-size: 7rem;
    letter-spacing: 4rem;
    background: -webkit-gradient(linear, left top, right top,
    color-stop(30%, rgba(243, 221, 212, 0)), color-stop(50%, $lightPeach),
    color-stop(70%, rgba(243, 221, 212, 0)));
    animation: mymove 3.5s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    z-index: 2;
}
@keyframes mymove {
    from {left: -3rem;}
    to {left: 3rem;}
  }